networks:
  forgejo:
    external: false

services:
  server:
    #image: codeberg.org/forgejo/forgejo:13
   image: codeberg.org/forgejo/forgejo:13-rootless
   container_name: forgejo
   user: 1000:1000
   environment:
     - USER_UID=1000
     - USER_GID=1000
     - FORGEJO__database__DB_TYPE=postgres
     - FORGEJO__database__HOST=db:5432
     - FORGEJO__database__NAME=forgejo
     - FORGEJO__database__USER=forgejo
     - FORGEJO__database__PASSWD=${FORGEJO_DB_PASSWORD}
   restart: always
   networks:
     - forgejo
   volumes:
     #     - /opt/forgejo/data:/data
     - /opt/forgejo/data:/var/lib/gitea
     - /opt/forgejo/conf:/etc/gitea
     - /etc/timezone:/etc/timezone:ro
     - /etc/localtime:/etc/localtime:ro
   ports:
     - "3000:3000"
     - "222:2222"
   depends_on:
      - db

  db:
   image: postgres:14
   restart: always
   environment:
     - POSTGRES_USER=forgejo
     - POSTGRES_DB=forgejo
     - POSTGRES_PASSWORD=${FORGEJO_DB_PASSWORD}
   networks:
     - forgejo
   volumes:
     - /opt/forgejo/postgres:/var/lib/postgresql/data
